<form class="flex flex-col px-4 py-2 gap-6 h-full" [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-form-input-password
    class="w-full"
    id="currentPassword"
    label="Senha Atual"
    formControlName="currentPassword"
    [invalid]="isInvalid('currentPassword')"
  />

  <app-form-input-password
    class="w-full"
    id="newPassword"
    label="Nova Senha"
    [feedback]="true"
    formControlName="newPassword"
    [invalid]="isInvalid('newPassword')"
    appendTo="self"
  />

  <app-form-input-password
    class="w-full"
    id="confirmPassword"
    label="Confirmar Nova Senha"
    formControlName="confirmPassword"
    [invalid]="isInvalid('confirmPassword')"
  />

  @if (form.hasError('fieldsMismatch')) {
    <p class="text-sm text-red-500">As senhas não coincidem.</p>
  }
  <div class="flex justify-end gap-4 mt-auto">
    <app-form-button
      label="Cancelar"
      severity="danger"
      size="large"
      (handleClick)="handleClick()"
    />
    <app-form-button
      type="submit"
      label="Alterar senha"
      size="large"
      [disabled]="form.invalid || form.disabled || isSubmitting()"
    />
  </div>
</form>
