<form class="flex flex-col px-4 py-2 gap-6 h-full" [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-form-input
    class="w-full"
    id="currentPassword"
    label="Senha Atual"
    type="password"
    formControlName="currentPassword"
    [invalid]="isInvalid('currentPassword')"
  />

  <app-form-input
    class="w-full"
    id="newPassword"
    label="Nova Senha"
    type="password"
    formControlName="newPassword"
    [invalid]="isInvalid('newPassword')"
  />

  <app-form-input
    class="w-full"
    id="confirmPassword"
    label="Confirmar Nova Senha"
    type="password"
    formControlName="confirmPassword"
    [invalid]="isInvalid('confirmPassword')"
  />

  @if (form.hasError('fieldsMismatch')) {
    <p class="text-sm text-red-500">As senhas não coincidem.</p>
  }

  <app-form-button
    type="submit"
    label="Alterar senha"
    size="large"
    [disabled]="form.invalid || form.disabled"
  />
</form>
