<header
  class="flex items-center gap-4 h-16 px-8 bg-zinc-100 dark:bg-zinc-900 border-b border-zinc-200 dark:border-zinc-800"
>
  <div class="flex items-center gap-4 lg:hidden">
    <button
      (click)="drawerService.openNav()"
      class="hover:opacity-70 transition-opacity cursor-pointer"
    >
      <i class="pi pi-bars text-zinc-700 dark:text-zinc-100 text-xl"></i>
    </button>
    <a
      routerLink="/"
      class="text-xl font-semibold text-zinc-700 dark:text-zinc-100 hover:opacity-70 transition-opacity"
    >
      My Library
    </a>
  </div>
  @if (drawerService.collapsed()) {
    <a
      routerLink="/"
      class="hidden lg:block text-xl font-semibold text-zinc-700 dark:text-zinc-100 hover:opacity-70 transition-opacity"
    >
      My Library
    </a>
  }

  <app-search-bar class="ml-auto" />
</header>
