<form [formGroup]="form" class="grid grid-cols-1 px-2 py-4 gap-5 w-full" (ngSubmit)="onSubmit()">
  <app-form-input id="name" label="Nome da série" formControlName="name" />

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 items-end">
    <app-form-input-select
      formControlName="statusId"
      id="statusId"
      label="Status"
      [options]="status().data"
      optionValue="id"
      optionLabel="type"
      [loading]="status().state === loadState.Loading"
      [translateKey]="serieTranslation"
    />

    <app-form-input-counter
      formControlName="serieVolumes"
      id="serieVolumes"
      label="qtd. Volumes"
      [min]="1"
    />
  </div>

  <app-form-input-select
    id="franchiseId"
    label="Franquia"
    formControlName="franchiseId"
    [options]="franchise().data"
    optionLabel="name"
    optionValue="id"
    [loading]="franchise().state === loadState.Loading"
    buttonLabel="Criar nova franquia"
    (handleOnclick)="franchiseModal()"
  />

  <app-form-button
    type="submit"
    label="Salvar"
    [disabled]="form.invalid || form.disabled"
    size="large"
  />
</form>
