<div>
  <p-floatlabel variant="on">
    <p-multiselect
      [inputId]="id()"
      [options]="options()"
      [optionLabel]="optionLabel()"
      [optionValue]="optionValue()"
      [invalid]="invalid()"
      [loading]="loading()"
      [disabled]="isDisabled()"
      [ngModel]="value()"
      (onBlur)="onTouched()"
      (ngModelChange)="onValueChange($event)"
      fluid
      filter
      display="chip"
      appendTo="body"
    >
      @if (buttonLabel()) {
        <ng-template #footer>
          <div class="p-3">
            <app-form-button
              severity="secondary"
              [label]="buttonLabel()!"
              icon="pi pi-plus"
              size="small"
              [text]="true"
              (handleClick)="handleOnclick.emit()"
            />
          </div>
        </ng-template>
      }
    </p-multiselect>
    <label [for]="id()">{{ label() }}</label>
  </p-floatlabel>
</div>
