@switch (stats().state) {
  @case (loadStateEnum.Success) {
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-3 w-full px-2 lg:px-10">
      @for (item of status(); track item.name) {
        <app-stat-card [stat]="item" />
      }
    </div>
  }
  @case (loadStateEnum.Error) {
    <app-error-state
      componentName="Informações gerais"
      [errors]="stats().error"
      (retry)="retry.emit()"
    />
  }
  @case (loadStateEnum.Loading) {
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-3 w-full px-2">
      @for (i of [1, 2, 3, 4]; track i) {
        <app-stat-skeleton />
      }
    </div>
  }
}
