@switch (stats().state) {
  @case (loadStateEnum.Success) {
    <div class="block md:hidden px-4">
      <p-carousel
        [value]="status()"
        [numVisible]="1"
        [numScroll]="1"
        [circular]="true"
        [showNavigators]="false"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template #item let-item>
          <app-stat-card [stat]="item" />
        </ng-template>
      </p-carousel>
    </div>
    <div class="hidden md:flex items-center justify-center gap-6">
      @for (item of status(); track item.name) {
        <app-stat-card [stat]="item" />
      }
    </div>
  }
  @default {
    <div class="block md:hidden px-4">
      <p-skeleton height="5rem" borderRadius="12px" />
    </div>
    <div class="hidden md:flex items-center justify-center gap-6">
      @for (item of [1, 2, 3, 4]; track item) {
        <p-skeleton width="8rem" height="5rem" borderRadius="12px" />
      }
    </div>
  }
}
