<p-tabs [(value)]="activeTab">
  <p-tablist>
    <p-tab value="info">Informações do usuário</p-tab>
    <p-tab value="security">Segurança</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="info">
      @if (activeTab() === 'info') {
        <app-info-user-settings />
      }
    </p-tabpanel>
    <p-tabpanel value="security">
      @if (activeTab() === 'security') {
        <h2 class="text-lg font-semibold my-4">Senha</h2>
        <app-settings-password />
      }
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
