<div>
  @if (!editable()) {
    <div>
      <p-iconfield>
        <div class="position-relative">
          <p-inputicon class="pi pi-lock" />
          <input type="text" pInputText value="••••••••••" disabled fluid />
          <p-button
            class="absolute right-3 bottom-1/2 translate-y-1/2 text-xs/tight"
            [pt]="ptButton"
            label="Alterar senha"
            size="small"
            (click)="buttonClick()"
          />
        </div>
      </p-iconfield>
    </div>
  } @else {
    <app-change-password-form [embedded]="true" (closeButton)="editable.set(false)" />
  }
</div>
