<div>
  <p-floatlabel variant="on">
    <p-select
      [inputId]="id()"
      [options]="options()"
      [optionLabel]="optionLabel()"
      [optionValue]="optionValue()"
      [invalid]="invalid()"
      [loading]="loading()"
      [disabled]="isDisabled()"
      [ngModel]="value()"
      (onBlur)="onTouched()"
      (ngModelChange)="onValueChange($event)"
      fluid
      appendTo="body"
      panelStyleClass="text-sm/tight sm:text-md/tight"
    >
      <ng-template #selectedItem let-selected>
        {{ selected[optionLabel()] | translatePipe: translateKey() }}
      </ng-template>
      <ng-template #item let-option>
        {{ option[optionLabel()] | translatePipe: translateKey() }}
      </ng-template>
      @if (buttonLabel()) {
        <ng-template #footer>
          <div class="p-3">
            <app-form-button
              [label]="buttonLabel()!"
              severity="secondary"
              [text]="true"
              icon="pi pi-plus"
              (handleClick)="handleOnclick.emit()"
            />
          </div>
        </ng-template>
      }
    </p-select>
    <label [for]="id()">{{ label() }}</label>
  </p-floatlabel>
</div>
