<form class="flex flex-col px-4 py-2 gap-6" [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-form-input
    class="w-full"
    id="name"
    label="Nome"
    formControlName="name"
    [invalid]="isInvalid('name')"
  />

  <app-form-input
    class="w-full"
    id="username"
    label="Login"
    formControlName="username"
    [invalid]="isInvalid('username')"
  />

  <app-form-input
    class="w-full"
    id="email"
    label="E-mail"
    type="email"
    formControlName="email"
    [invalid]="isInvalid('email')"
  />

  <app-form-input-password
    class="w-full"
    id="password"
    label="Senha"
    [feedback]="true"
    formControlName="password"
    [invalid]="isInvalid('password')"
  />

  <div class="flex justify-end gap-4 w-full">
    <app-form-button label="Cancelar" severity="danger" size="large" (handleClick)="handleClick()" />
    <app-form-button
      type="submit"
      label="Salvar"
      size="large"
      [disabled]="form.invalid || form.disabled || isSubmitting()"
    />
  </div>
</form>
