<section class="min-h-dvh flex">
  <p-tabs value="work" [lazy]="true" class="flex-1 min-w-0">
    <p-tablist>
      @for (table of tables; track table.value) {
        <p-tab [value]="table.value">{{ table.label }}</p-tab>
      }
    </p-tablist>
    <p-tabpanels class="flex-1 min-w-0">
      @for (table of tables; track table.value) {
        <p-tabpanel [value]="table.value">
          <ng-template #content>
            <ng-container *ngComponentOutlet="table.content" />
          </ng-template>
        </p-tabpanel>
      }
    </p-tabpanels>
  </p-tabs>
</section>
