<form class="grid grid-cols-2 gap-4 py-6 px-2" [formGroup]="formWork" (ngSubmit)="onSubmit()">
  <app-form-input-select
    class="col-span-2"
    id="serieId"
    label="Série"
    formControlName="serieId"
    [options]="series().data"
    optionLabel="name"
    optionValue="id"
    [loading]="series().state === loadState.Loading"
    buttonLabel="Criar nova série"
    (handleOnclick)="seriesModal()"
  />

  <app-form-input
    class="col-span-2"
    id="name"
    label="Nome da obra"
    [invalid]="isInvalid('name')"
    formControlName="name"
  />
  <app-form-input class="col-span-2" id="subtitle" label="Sub-título" formControlName="subtitle" />

  <div class="col-span-2 flex flex-col gap-4">
    <app-form-input-number
      id="price"
      label="Preço"
      formControlName="price"
      mode="currency"
      currency="BRL"
      [min]="0"
    />
    <div class="flex items-center justify-between flex-wrap gap-x-2 gap-y-3">
      <app-form-input-counter id="volume" label="Volume" [min]="0" formControlName="volume" />
      <app-form-input-checkbox
        id="isSpecialEdition"
        label="Edição especial"
        formControlName="isSpecialEdition"
      />
    </div>
  </div>

  <app-form-input-select
    id="languageId"
    label="Idioma"
    formControlName="languageId"
    [options]="languages().data"
    optionLabel="type"
    optionValue="id"
    [invalid]="isInvalid('languageId')"
    [loading]="languages().state === loadState.Loading"
  />

  <app-form-input-select
    id="mediaId"
    label="Mídia"
    formControlName="mediaId"
    [options]="medias().data"
    optionLabel="type"
    optionValue="id"
    [translateKey]="workMediaTranslation"
    [invalid]="isInvalid('mediaId')"
    [loading]="medias().state === loadState.Loading"
  />

  <app-form-input-multiselect
    class="col-span-2 sm:col-span-1"
    id="authors"
    label="Autores"
    formControlName="authors"
    [options]="authors().data"
    optionLabel="name"
    optionValue="id"
    [loading]="authors().state === loadState.Loading"
    [invalid]="isInvalid('authors')"
    buttonLabel="Criar novo autor"
    (handleOnclick)="authorModal()"
  />

  <app-form-input-multiselect
    class="col-span-2 sm:col-span-1"
    id="illustrators"
    label="Ilustradores"
    formControlName="illustrators"
    [options]="illustrators().data"
    optionLabel="name"
    optionValue="id"
    [loading]="illustrators().state === loadState.Loading"
    buttonLabel="Criar novo ilustrador"
    (handleOnclick)="illustratorModal()"
  />

  <app-form-button
    class="col-span-2"
    type="submit"
    [disabled]="formWork.invalid"
    label="Salvar obra"
    size="large"
  />
</form>
