<form class="grid grid-cols-2 gap-4 py-6 px-2" [formGroup]="formWork" (ngSubmit)="onSubmit()">
  <app-form-input
    class="col-span-2"
    id="name"
    label="Nome da obra"
    [invalid]="isInvalid('name')"
    formControlName="name"
  />
  <app-form-input class="col-span-2" id="subtitle" label="Sub-título" formControlName="subtitle" />

  <div class="grid grid-cols-1 col-span-2 md:grid-cols-2 gap-4 items-center">
    <div class="flex flex-col">
      <label class="mb-2 block font-bold" for="price">Preço</label>
      <p-inputnumber
        formControlName="price"
        [showButtons]="true"
        mode="currency"
        currency="BRL"
        inputStyleClass="w-40"
        [min]="0"
      />
    </div>
    <div class="w-fit justify-self-center sm:justify-items-normal">
      <label class="mb-2 block font-bold" for="volume">Volume</label>
      <p-inputnumber
        formControlName="volume"
        [showButtons]="true"
        buttonLayout="horizontal"
        inputId="volume"
        [min]="0"
        inputStyleClass="w-16 text-center"
      >
        <ng-template #incrementbuttonicon>
          <span class="pi pi-plus"></span>
        </ng-template>
        <ng-template #decrementbuttonicon>
          <span class="pi pi-minus"></span>
        </ng-template>
      </p-inputnumber>
    </div>

    <div class="flex items-center gap-2">
      <p-checkbox id="isSpecialEdition" formControlName="isSpecialEdition" [binary]="true" />
      <label for="isSpecialEdition">Edição especial</label>
    </div>
  </div>

  <app-form-input-select
    id="languageId"
    label="Idioma"
    formControlName="languageId"
    [options]="languages().data"
    optionLabel="type"
    optionValue="id"
    [invalid]="isInvalid('languageId')"
    [loading]="languages().state === loadState.Loading"
  />

  <app-form-input-select
    id="mediaId"
    label="Mídia"
    formControlName="mediaId"
    [options]="medias().data"
    optionLabel="type"
    optionValue="id"
    [translateKey]="workMediaTranslation"
    [invalid]="isInvalid('mediaId')"
    [loading]="medias().state === loadState.Loading"
  />

  <app-form-input-select
    class="col-span-2"
    id="serieId"
    label="Série"
    formControlName="serieId"
    [options]="series().data"
    optionLabel="name"
    optionValue="id"
    [loading]="series().state === loadState.Loading"
    buttonLabel="Criar nova série"
    (handleOnclick)="seriesModal()"
  />

  <app-form-input-multiselect
    class="col-span-2 sm:col-span-1"
    id="authors"
    label="Autores"
    formControlName="authors"
    [options]="authors().data"
    optionLabel="name"
    optionValue="id"
    [loading]="authors().state === loadState.Loading"
    [invalid]="isInvalid('authors')"
    buttonLabel="Criar novo autor"
    (handleOnclick)="authorModal()"
  />

  <app-form-input-multiselect
    class="col-span-2 sm:col-span-1"
    id="illustrators"
    label="Ilustradores"
    formControlName="illustrators"
    [options]="illustrators().data"
    optionLabel="name"
    optionValue="id"
    [loading]="illustrators().state === loadState.Loading"
    buttonLabel="Criar novo ilustrador"
    (handleOnclick)="illustratorModal()"
  />

  <p-button
    class="col-span-2"
    type="submit"
    label="Salvar obra"
    [disabled]="formWork.invalid"
    fluid
  />
</form>
