<form [formGroup]="WorkFilterForm" (ngSubmit)="submit()" class="flex w-full flex-col gap-1">
  <div
    class="flex items-center justify-between px-3 pb-3 mb-2 border-b border-zinc-200 dark:border-zinc-800"
  >
    <h2 class="text-sm font-semibold text-zinc-700 dark:text-zinc-100">Filtros</h2>
    <app-form-button label="Limpar" icon="pi pi-trash" type="button" (handleClick)="clear()" />
  </div>

  <app-form-input-multiselect
    label="Autores"
    id="authors"
    [options]="authors().data"
    optionLabel="name"
    optionValue="id"
    formControlName="authors"
  />

  <app-form-input-multiselect
    label="Ilustradores"
    id="illustrators"
    [options]="illustrators().data"
    optionLabel="name"
    optionValue="id"
    formControlName="illustrators"
  />

  <app-form-input-multiselect
    label="Idioma"
    id="languages"
    [options]="languages().data"
    optionLabel="type"
    optionValue="id"
    formControlName="languages"
  />

  <app-form-input-chip
    label="Mídia"
    id="medias"
    [options]="mediaOptions()"
    optionLabel="type"
    optionValue="id"
    formControlName="medias"
  />

  <app-form-button label="Aplicar" icon="pi pi-check" type="submit" />
</form>
