<form class="flex flex-col px-4 py-2 gap-6" [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-form-input-password
    class="w-full"
    formControlName="newPassword"
    label="Nova senha"
    id="newPassword"
    [feedback]="true"
    [invalid]="isInvalid('newPassword')"
  />
  <div class="flex justify-end gap-4 mt-auto">
    <app-form-button
      (handleClick)="handleClick()"
      severity="danger"
      label="Cancelar"
      size="large"
    />
    <app-form-button
      type="submit"
      label="Resetar senha"
      size="large"
      [disabled]="form.invalid || form.disabled || isSubmitting()"
    />
  </div>
</form>
